.containerNavbar {
  width: 100%;
  height: 80px;
  display: flex;
  background: linear-gradient(180deg, #b9e6e6 0%, #51a3a3 90%, #338a8a 100%);
  justify-content: space-between;
  align-items: center;
}
.imgLogo {
  max-width: 150px;
}
.carrito {
  padding-right: 50px;
  display: flex;
  justify-content: flex-end;
}
.imgUser {
  margin: 5px;
  max-width: 70px;
  width: 150px;
  border-radius: 20%;
}
.listaNavBar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.listaNavBar li {
  padding: 10px 5px;
  color: #363537;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  width: 160px;
  display: flex;
  justify-content: center;
  border-radius: 15px;
}
.listaNavBar :hover {
  font-size: 20px;
  cursor: pointer;
}
