.containerNavbar {
  width: 100%;
  height: 100px;
  display: flex;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(237, 211, 244, 1) 90%,
    rgba(218, 186, 224, 1) 100%
  );
  justify-content: space-between;
  align-items: center;
}
.imgLogo {
  max-width: 150px;
}
.imgUserP {
  display: flex;
  justify-content: flex-end;
}
.imgUser {
  margin: 5px;
  max-width: 70px;
  width: 150px;
  border-radius: 20%;
}
.listaNavBar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}
.listaNavBar li {
  background-color: #e3cebd;
  padding: 10px 15px;
  color: #725b75;
  font-size: 18px;
  font-weight: bolder;
  width: 170px;
  display: flex;
  justify-content: center;
  border-radius: 15px;
}
